<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Nocturne - What's for dinner?</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    {% assets 'style' %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
  </head>

  <body>
    <div id="map"></div>
    {% assets 'script' %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script id="location-details" type="text/x-dot-template">
      <b>Latitude</b>: <%= it.latitude %>,
      <b>Longitude</b>: <%= it.longitude %>
    </script>
  </body>
</html>
