<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Nocturne - What's for dinner?</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    {% assets 'style' %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
  </head>

  <body>
    <div id="map"></div>
    <div id="details-wrapper"></div>
    {% assets 'script' %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script id="details" type="text/x-dot-template">
      <div>
        <img src="<%= it.image_url %>"></img>
      <div>
      <div>
        <div>
          <h1><%= it.name %></h1>
          <p><%= it.like_count %></p>
        </div>
        <div>
          <img></img>
          <img></img>
          <img></img>
        </div>
      <div>
    </script>
  </body>
</html>
