<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Nocturne - What's for dinner?</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    {% assets 'style' %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
  </head>

  <body>
    <div id="map"></div>
    <div id="details-wrapper"></div>
    <img id="btn-shrink" src="images/resize-small.png" />
    <img id="btn-expand" src="images/resize-full.png" />
    {% assets 'script' %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script id="details" type="text/x-dot-template">
      <div class="primary">
        <img src="<%= it.image_url %>"></img>
      </div>
      <div class="secondary">
        <header>
          <h1><%= it.name %></h1>
        </header>
        <main>
          <div class="desc">
            <p><%= it.like_count %></p>
            <p class="caption"><%= it.caption %></p>
          </div>
          <div>
            <%~ it.recent_posts :post %>
              <img src="<%= post.image_url %>" />
            <%~ %>
          </div>
        </main>
      </div>
    </script>
  </body>
</html>
